		@font-face {
			font-family: "Ikaros";
			src:url('../fonts/Ikaros.ttf');
		}

		@font-face {
			font-family: "Innercity";
			src: url('../fonts/InnercityRegular.ttf');
		}

		@font-face {
			font-family: "IkarosLight";
			src:url('../fonts/IkarosLight.ttf');
		}

		@font-face {
			font-family: "MoonLight";
			src:url('../fonts/MoonLight.ttf');
		}

		body {
			background: white;
			margin: 0;
		}

		#wraper {
   			margin: 0 auto;
    		width: 90%;
		}

		.header {
    		width: 100%;
    		position: fixed;
    		top: 0;
    		left: 0;
   			z-index: 99999999;
   			background-color: rgba(176,224,230, 0.9);
   			padding: 20px;
		}

		.header .inner {
			text-align: left;
		}

		nav {
    		display: block;
    		-webkit-border-radius: 5px;
    		-moz-border-radius: 5px;
    		border-radius: 5px;
    		padding-right: 50px;
		}

		nav a {
    		font-family: "Ikaros";
    		display: inline-block;
    		padding: 20px 25px;
    		text-decoration: none;
    		color: white;
    		font-size: 20px;
    		float: right;

		}

		nav a:hover {

		}

		footer {
			font-family: "Ikaros";
			color: Orange;
			clear: both;
			position: relative;
			z-index: 10;
			height: 300px;
			bottom: 0px;
			background-color: rgb(0, 8, 19);
			font-size: 26px;
			padding-top:20px;
			padding-left: 10px;
			margin-top: 29px;
		}

		footer blockquote{
			color: #A9A9A9;
			font-family: "IkarosLight";
			font-size: 20px;
			padding-top: 0;
			margin-top: 0;

		}

		footer a {
			color: white;
			font-size: 15px;
		}

		main {
			overflow-x: hidden;
		}

		.bcg {
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			height: 100%;
			width: 100%;
		}

		#slide-1 .bcg {
			background-image: url("../images/header-about.jpg");
		}

		#slide-2 .bcg {
			background-color: white;

		}

		.hsContainer {
			display: table;
			table-layout: fixed;
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
		}

		.hsContent {
			max-width: 450px;
			margin: -150px auto 0 auto;
			display: table-cell;
			vertical-align: middle;
			color: #ebebeb;
			padding: 0 8%;
		}

		.hsContent h1{
			color: white;
			font-size: 100px;
			line-height: 48px;
			margin-bottom: 0px;
			padding-bottom: 25px;
			font-family: "Innercity";
			text-align: right;
			right: 0;
		}

		.hsContent h2{
			color: black;
			font-size: 100px;
			line-height: 48px;
			margin-bottom: 0px;
			padding-bottom: 25px;
			font-family: "Innercity";
			text-align: left;
			right: 0;
		}

		.hsContent p{
			color: black;
			font-size: 20px;
			font-family: "IkarosLight";
			text-align: justify;
			width: 100%;
		
		}

		.hsContent ul {
			list-style-type: none;
			margin: 0;
			padding:0;
		}

		.hsContent a {
			color: white;
			font-size: 28px;
			line-height: 48px;
			font-family: "IkarosLight";
			text-align: right;
			padding-right: 2px;
			right: 0;
			list-style-type: none;
			text-decoration: none;
			width: 50%;
			float: right;

		}

		.no-js section {
			opacity: 1;
			-webkit-transition: opacity 300ms ease-out;
			-moz-transition: opacity 300ms ease-out;
			transition: opacity 300ms ease-out;
		}

		.container {
  			position: relative;
  			width: 50%;
		}

		.image {
  			display: block;
  			width: 100%;
  			height: auto;
		}

		.overlay {
  			position: absolute;
  			top: 0;
  			bottom: 0;
  			left: 0;
  			right: 0;
  			height: 100%;
  			width: 100%;
  			opacity: 0;
  			transition: .5s ease;
  			
  			z-index: 10;
		}

		.container:hover .overlay {
  			opacity: 1;
  			background-color: lightblue;
		}

		.text {
  			
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			transform: translate(-50%, -50%);
  			-ms-transform: translate(-50%, -50%);
		}

		a.back-to-top {
			display: none;
			width: 100px;
			height: 100px;
			text-indent: -9999px;
			position: fixed;
			z-index: 999;
			right: 20px;
			bottom: 20px;
			background: transparent url('../images/durian.png') no-repeat center 43%;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
		}


		#form-wraper {
    		position:absolute;
    		top:50%;
    		right:0;
    		left:0;
    		width: 100%
		}

		table th {
			
			text-align: left;
		}

		table th hr {
			width: 75%;
			color: orange;
			text-align: left;
		}

		table {
			width: 100%;
			border-width: thin thick;
		}

		table td{
			width: 33%;
		}

		form{
			padding-top: 20px;
			size: 200px;
		}

		form input, textarea{
			width: 100%;
			font-family: "IkarosLight";
			font-size: 18px;
			padding-top: 0;
			margin-top: 3px;
			background-color: transparent;
			color: #A9A9A9;
		}

		form input {
			border-bottom: 1px solid;
			border-top: none;
			border-right: none;
			border-left: none;
		}

		form input:focus{
			outline: none;
		}

		form textarea:focus{
			outline: none;
		}

		form textarea{
			margin-top: 12px;
			height: 80px;
			border: 1px solid;
		}

		form button{
			background-color: transparent;
			font-family: "IkarosLight";
			border-radius: 10px;
			border: 1px solid;
			width: 100px;
			height: 50px;
			font-size: 20px;
			float: right;
			color: #A9A9A9;
		}

		form button:focus {
			outline: none;
		}

		form button:hover{
			background-color: #A9A9A9;
			color: rgb(0, 8, 19);
		}

		table blockquote {
			margin-top: 0;
		}

		section a:hover {
			background-color: rgb(0, 8, 19);
		}
		

		